.main-page {
  height: 100%;
  width: 100vw;
  .title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .border-p {
    width: 700px;
    height: 400px;
    margin-left: 410px;
    border-style:solid;
    border-color:#1890ff;
    border-radius: 7px;
  }

  .border {
    width: 700px;
    height: 300px;
    margin-left: 410px;
    border-style:solid;
    border-color:#1890ff;
    border-radius: 7px;
  }

  .top {
    width: 1550px;
    padding-right: 150px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  	#FDF5E6;
    .top_left {
      padding-top: 2rem;
      color: #1890ff;
      padding-left: 100px;
      font-size: 40px;
      font-weight: 600;
    }
    .top_right {
      padding-top: 2rem;
      padding-bottom: 20px;
      margin-right: -20px;
      display: flex;
      flex-direction: row ;
      .button1 {
        height: 50px;
        width: 100px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: normal;
        background-color: #F5F5F5;
        font-family: SourceHanSansSC-regular;
        font-size: 14px;
        box-shadow: 0 0 5px 1px #999 ;
        border-radius: 7px;
        /* background-color: #33CCFF; */
      }
    }
  }

  .down {
    margin-left: 80px;
  }
  .down-p {
    margin-left: -30px;
  }
}

.result-display {
  height: 100%;
  width: 100vw;
  padding-bottom: 20px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .steps {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 1000px;
    }
    .description {
      width: 450px;
      // margin: 3rem 0 0 20px;
      margin-top: 30px;
      margin-bottom: 40px;
      box-shadow: 0 0 5px 1px #999 ;
      line-height: 1.5;
      text-indent: 30px;
      background: #fafafa;
      text-align: justify;
      border-radius: 6px;
      padding: 0.75rem;
      font-size: 1.1rem;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }
    .arrow {
      margin-top: 30px;
    }
    .space {
      // height: 350px;
      padding-top: 20px;
      margin-right: 5px;
    }
    .title-algo {
      margin-top: 20px;
      margin-bottom: -5px;
      font-size: 30px;
      font-family: Microsoft Yahei;
    }
    .table {
      width: 890px;
      border: 2px solid #1890ff;
      margin-top: 25px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 1.1rem;
      font-family: Microsoft Yahei;
      .header {
        background-color: #DCDCDC;
      }
    }
    .table2 {
      width: 1100px;
      border: 2px solid #1890ff;
      margin-top: 25px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 1.1rem;
      font-family: Microsoft Yahei;
      .header {
        background-color: #DCDCDC;
      }
    }

  }
  
  .top-h {
    width: 1550px;
    padding-right: 150px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  	#FDF5E6;
    .top_left-h {
      padding-top: 2rem;
      color: #1890ff;
      padding-left: 100px;
      font-size: 40px;
      font-weight: 600;
    }
    .top_right-h {
      padding-top: 2rem;
      padding-bottom: 20px;
      margin-right: -20px;
      display: flex;
      flex-direction: row ;
      .button1-h {
        height: 50px;
        width: 100px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: normal;
        background-color: #F5F5F5;
        font-family: SourceHanSansSC-regular;
        font-size: 14px;
        box-shadow: 0 0 5px 1px #999 ;
        border-radius: 7px;
        /* background-color: #33CCFF; */
      }
    }
  }
  .title1 {
    background-color:  	#FDF5E6;
    padding: 2rem;
    color: 	#32CD32;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wrapper{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    .title2 {
      display: flex;
      flex-direction: row ;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 10px;
      font-size: 30px;
      .title4 {
        padding-left: 10px;
        font-size: 20px;
      }
    }
    .title3 {
      padding-top: 1rem;
      color: #1890ff;
      margin-left: -190px;
      font-size: 40px;
      font-weight: 600;
    }
  }
  .result-list{
    margin-left: auto;
    margin-right: auto;
    // padding-bottom: 10px;
    width: 80%;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    border-style:solid;
    border-color:#1890ff;
    border-radius: 7px;
  }
  .result-list1{
    margin-left: auto;
    margin-right: auto;
    // padding-bottom: 10px;
    width: 600px;
    background-color: 	#F5F5F5;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    border-style:solid;
    border-color:#1890ff;
    border-radius: 7px;
  }
  .title5 {
    font-size: 20px;
    margin-left: 600px;
    padding-top: 30px;
  }
  .title6 {
    font-size: 30px;
    margin-left: 450px;
    padding-top: 50px;
  }
  .title7 {
    font-size: 30px;
    margin-left: 10px;
    padding-top: 50px;
  }

  .his-table {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    .title6 {
      font-size: 30px;
      // margin-left: 600px;
      padding-top: 50px;
    }
  }
}


